body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.form {
    width: 550px;
    margin: 0px auto;
}

.form__input {
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}

.form__input:focus {
    box-shadow: 0 0 15px #7a956b;
}

.form__button {
    padding: 4px 20px;
}