/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

html {
    width: 100%;
}

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    display: flex;
}

/*!--Навигационная секция--start--!*/

.navigation_section {
    height: 100vh;
    width: 55px;
    /* width: 3%; */
    background-color: #101010;
}

.content_navigation_section {
    padding-top: 15px;
    display: block
}

.conteiner__icon {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navigation__icon {
    color: gray;
    padding-bottom: 1.5vh;
}

/*!--Навигационная секция--end--!*/


/*!--Информационная секция--start--!*/

.info_section {
    height: 100vh;
    width: 225px;
    /* width: 12%; */
    background-color: #171717;
}

.content_info_section {
    padding-top: 15px;
    display: block;
}

.global_sort__container {
    width: 100%;
}

.button_container {
    display: flex;
    justify-content: center;
}

.button__global_sort {
    display: flex;
    width: 200px;
    height: 40px;
    background-color: #171717;
    border-radius: 8px;
    border: none;
    transition: background-color 0.2s linear;
}

.button__global_sort:hover {
    background-color: #303030;
}

.button__global_sort:active {
    background-color: #505050;
}

#icon_sort {
    color: gray;
    margin-top: auto;
    margin-bottom: auto;
}

.method__gl_sort {
    color: #ffffff;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

.count__gl_sort {
    color: #ffffff;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
}

#count__day, #count__week, #count__month {
    margin-left: auto;
    margin-right: 5px;
}

.line_info_section {
    border: 0.5px solid;
    width: 90%;
    margin: 1vh auto 1vh auto;
}

.categories__container {
    padding-left: 10px;
    padding-right: 10px;
}

#button_open__categories {
    width: 100%;
    border-radius: 0%;
    border-color: #181818;
    background-color: #282828;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    transition: background-color 0.2s linear;
}

#button_open__categories:hover {
    background-color: #303030;
}

#category_body {
    background-color: #282828;
    border-radius: 0%;
    padding: 10px 10px 0px 10px;
}

.category {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.button__category {
    padding: 0px 0px;
    border: none;
    background-color: inherit;
    color: gray;
}

.title__category {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
}

.timer__container {
    padding-left: 10px;
    padding-right: 10px;
}

#button_open__timer {
    width: 100%;
    border-radius: 0%;
    border-color: #181818;
    background-color: #282828;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    transition: background-color 0.2s linear;
}

#button_open__timer:hover {
    background-color: #303030;
}

#timer_body {
    background-color: #282828;
    border-radius: 0%;
    padding: 10px 10px 10px 10px;
}

.timer {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.value_timer {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.separation_char {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

#icon_restart__timer, .icon_play__timer {
    
}

/*!--Информационная секция--end--!*/


/*!--Главная секция--start--!*/

.main_section {
    height: 100vh;
    width: 800px;
    background-color: #181818;
}

.content_main_section {
    padding-top: 15px;
}

.dop_information {
    height: 30px;
    display: flex;
}

#logo_company {
    color: gray;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.date__main {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.line_main_section {
    border: 0.5px solid;
    width: 100%;
    margin: 1vh auto 1vh auto;
}

.create_notes {

}

.create_notes__input {
    
}

.notes_container {
    width: 100%;
    display: flex;
}

.plans_container {
    width: 50%;
}

.reminders_container {
    width: 50%;
}

.title__notes {
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
}

/* .content__notes {

} */

.plan, .reminder {
    width: 95%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border: none;
    background-color: #181818;
    transition: background-color 0.2s linear;
}

.plan:hover, .reminder:hover {
    background-color: #303030;
}

.button-complete_main__btn-plan, .button-complete_main__btn-reminder {
    border: none;
    background-color: #303030;
    padding: 0px 0px;
}

#icon_complete__main {
    color: gray;
    display: flex;
    align-items: center;
    background-color: #181818;
}

.button-delete_main__btn-plan, .button-delete_main__btn-reminder {
    border: none;
    background-color: #303030;
    margin-left: auto;
    padding: 0px 0px;
}

#icon_delete__main {
    color: gray;
    display: flex;
    align-items: center;
    background-color: #181818;
}

.title_notes-plan, .title_notes-reminder {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: start;
}

.diving__line {
    width: 1px;
    height: 100vh;
    border: solid 1px;
}

/*!--Главная секция--end--!*/


/*!--Детальная секция--start--!*/

.detail_section {
    height: 100vh;
    background-color: #181818;
}

/* .content_detail_section {
    
}  */

.main_display {
    display: none;
}

.header__detail_section {
    display: flex;
    align-items: center;
    height: 55px;
}

.button_complete__detail {
    border: none;
    background-color: #181818;
    padding: 0px 0px;
    margin-left: 10px;
}

#icon_complete__detail {
    color: gray;
}

.button_delete__detail {
    border: none;
    background-color: #181818;
    padding: 0px 0px;
}

#icon_delete__detail {
    color: gray;
}

.button_menu__detail {
    border: none;
    background-color: #181818;
    padding: 0px 0px;
    margin-left: auto;
    margin-right: 10px;
}

#icon_menu__detail {
    color: gray;
}

.data__notes {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.line_detail_section {
    width: 100%;
    border: solid 1px;
}

.title__detail_notes {
    padding-left: 10px;
}

.title__detail {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding-top: 15px;
}

.content__detail_notes {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

/* .content__detail {
    
} */

.text__detail_notes {
    padding-top: 20px;
    padding-left: 10px;
}

.text__detail {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.conteiner_icon {
    display: flex;
    justify-content: center;
}

#icon__start_display {
    color: #505050;
    width: 200px;
    height: 200px;
}

.start_text {
    color: #505050;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

/*!--Детальная секция--end--!*/